@model IEnumerable<AirQualityForecastError>

@{
  ViewData["Title"] = "Index";
  //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.AirlyCaqiPctError)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Pm25PctError)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Pm10PctError)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.InstallationId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FromDateTime)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.TillDateTime)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.RequestDateTime)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.AirlyCaqiPctError)%
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Pm25PctError)%
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Pm10PctError)%
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.InstallationId)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FromDateTime)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TillDateTime)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.RequestDateTime)
      </td>
    </tr>
    }
  </tbody>
</table>
