@model IEnumerable<AirQualityForecastError>

@{
  ViewData["Title"] = "Index";
  //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row mb-3 justify-content-center">
  <div class="table-responsive-lg w-100">
    <table class="table" id="forecastErrors">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.InstallationId)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.FromDateTime)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.TillDateTime)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.AirlyCaqiPct)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.AirlyCaqi)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.RequestDateTime)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ErrorType)
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.InstallationId)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.FromDateTime)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TillDateTime)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.AirlyCaqiPct)%
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.AirlyCaqi)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.RequestDateTime)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.ErrorType)
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="row mb-4 justify-content-center">

  <div class="form-group col-sm-6 col-md-5 col-lg-4 col-xl-3">
    <label for="forecastErrorDays">
      Choose day:
    </label>
    <select id="forecastErrorDays" class="form-control">
      <option value="0">Please choose an option...</option>
    </select>
  </div>

  <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9">
  </div>
</div>